# heading1
## heading2
### heading3
#### heading4
##### heading5
###### heading6

# python

In [1]:
print("JNTUA")

JNTUA

In [2]:
a=15
print(a)

15

In [8]:
a=1234566
b=145623789
print(a*b)
type(a)

179782178690574

int

In [5]:
x=143
y=431
print("Multiplication of x&y is",x*y)

Multiplication of x&y is 61633

In [7]:
x="23"
type(x)

str

In [9]:
favours=[1,"is",4.43]
type(favours)

list

In [10]:
a={1,2,3,4,5}
type(a)

set

In [13]:
d=(1,23)
type(d)

tuple

In [19]:
e={1:"rafi",2:"syam",5:"hero"}
print(e)

{1: 'rafi', 2: 'syam', 5: 'hero'}

In [20]:
print(e[5])

hero

In [35]:
x={1 ,2, 3, 4}
print(x)

TypeError: 'tuple' object is not callable

In [37]:
x = (1,2,3,4,5,6,7,8,9)
print(x)

TypeError: 'tuple' object is not callable

In [1]:
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [2]:
x=(1,2,3,4,5,6,7,8,9,0)
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [4]:
print(x[5])

6

In [5]:
x=23
y=32
print(x+y)

55

In [6]:
x=12
y=21
print(x-y)

-9

In [7]:
x=14
y=45
print(x*y)

630

In [12]:
x=12
y=21
print(x%y)
print(x/y)

12
0.5714285714285714

In [11]:
21%5

1